[Unit]
Description=Daemon for emulator
Requires=deviced.service
After=deviced.service
Requires=connman.service
After=connman.service

[Service]
Type=simple
ExecStart=/usr/bin/emuld

[Install]
WantedBy=emulator.target

