[Unit]
Description=Daemon for emulator
After=system-server.service
After=connman.service
Requires=system-server.service
Requires=connman.service

[Service]
Type=simple
ExecStart=/usr/bin/emuld

[Install]
WantedBy=emulator.target

