[Unit]
Description=Daemon for emulator
After=dbus.service

[Service]
Type=simple
SmackProcessLabel=System::Privileged
ExecStart=/usr/bin/emuld

[Install]
WantedBy=emulator.target

